[project]
	description = Augmented Reality Game on Unity & Vuforia
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yi Wang (i3wangyi)
[access "refs/for/refs/*"]
	read = group user/Yi Wang (i3wangyi)
	push = group user/Yi Wang (i3wangyi)
	label-Code-Review = -2..+2 group user/Yi Wang (i3wangyi)
	label-Verified = -1..+1 group user/Yi Wang (i3wangyi)
	rebase = group user/Yi Wang (i3wangyi)
	removeReviewer = group user/Yi Wang (i3wangyi)
	submit = group user/Yi Wang (i3wangyi)
[access "refs/heads/*"]
	read = group user/Yi Wang (i3wangyi)
	create = group user/Yi Wang (i3wangyi)
	push = +force group user/Yi Wang (i3wangyi)
	pushMerge = group user/Yi Wang (i3wangyi)
[access "refs/tags/*"]
	push = +force group user/Yi Wang (i3wangyi)
	pushTag = group user/Yi Wang (i3wangyi)
	pushSignedTag = group user/Yi Wang (i3wangyi)
